*{
    padding: 0%;
    margin: 0%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
a{
    color: rgb(46, 30, 30);
    text-decoration: none;
}
.header{
    height: 100px;
    background-color: rgb(206, 186, 186);
    display: flex;
    align-items: center;
    padding: 1.6rem;
    box-sizing: border-box;
    justify-content: space-between;
    > img {
        height: 80%;
    }

    >div{
        width: 100%;
        margin: 5vmax;
        
        >a{
            margin: 1.4vmax;
            font-size: 1.2rem;
            font-weight: 100;
        }
    }
    >svg{
        color: white;
        font-size: 2rem;
        cursor: pointer;
    }
}
